@use 'sass:color';
@import "variables";

@media (hover: hover) {
  button {
      &:hover {
          cursor: pointer;
          background-color: lighten($btn-back, 15%);
      }
  }
  .field__item {
    &:hover {
        cursor: pointer;
    }
  }
  .templates__item {
    &:hover {
      cursor: pointer;
      color: lighten($black, 50%);
    }
  }
}

@media screen and (max-width: 950px) {
  .title {
    font-size: 50px;
    top: -120px;
    left: -253px;
  }
  .field,
  .rowclue,
  .columnclue {
    font-size: 35px;
    &__item {
      width: 50px;
      height: 50px;
      padding: 3px 0px;
    }
  }
  .field {
    left: 85px;
  }
  .rowclue {
    left: -170px;
  }
  .columnclue {
    top: -170px;
  }
  .vdivider {
    height: 270px;
  }
  .hdivider {
    width: 270px;
  }
  .reset-btn {
    left: -138.795px;
  }
  .reset-btn,
  .templates-btn {
    bottom: -88px;
  }
  .btn,
  .modal__msg {
    font-size: 30px;
  }
  .modal {
    max-width: 600px;
  }
  .templates {
    right: 181px;
    gap: 10px;
    bottom: -200px;
  }
}

@media screen and (max-width: 699px) {
  .wrapper {
    margin: 200px auto 0;
  }
  .title {
    font-size: 35px;
    top: -88px;
    left: -181px;
  }
  .field,
  .rowclue,
  .columnclue {
    font-size: 30px;
    &__item {
      width: 35px;
      height: 35px;
      padding: 0px;
    }
  }
  .field {
    left: 62.5px;
  }
  .rowclue {
    left: -125px;
  }
  .columnclue {
    top: -125px;
  }
  .vdivider {
    height: 195px;
  }
  .hdivider {
    width: 195px;
  }
  .btn,
  .modal__msg {
    font-size: 25px;
  }
  .reset-btn {
    left: -103.365px;
  }
  .reset-btn,
  .templates-btn {
    font-size: 20px;
    bottom: -73px;
  }
  .modal {
    max-width: 475px;
  }
  .templates {
    right: 128px;
    font-size: 20px;
    bottom: -171px;
  }
}
@media screen and (max-width: 499px) {
  .btn,
  .modal__msg {
    font-size: 20px;
  }
  .modal {
    max-width: 385px;
  }
}
@media screen and (max-width: 469px) {
  .title {
    top: -182px;
    left: -60px;
  }
}
@media screen and (max-width: 420px) {
  .modal {
    max-width: 300px;
  }
}
@media screen and (max-width: 359px) {
  .field,
  .rowclue,
  .columnclue {
    font-size: 25px;
    &__item {
      width: 30px;
      height: 30px;
    }
  }
  .field {
    left: 55px;
  }
  .rowclue {
    left: -110px;
  }
  .columnclue {
    top: -110px;
  }
  .vdivider {
    height: 170px;
  }
  .hdivider {
    width: 170px;
  }
  .reset-btn {
    left: -95.865px;
  }
  .reset-btn,
  .templates-btn {
    bottom: -69px;
  }
  .templates {
    bottom: -237px;
    right: 17px;
  }
}

