@media (hover: hover) {
  button {
      &:hover {
          cursor: pointer;
            background-color: var(--btn-back-hover);
      }
  }
  .theme-btn {
    &:hover {
      background-color: transparent;
      transform: rotate(67.5deg);
    }
  }
  .field__item {
    &:hover {
        cursor: pointer;
    }
  }
  .templates__item,
  .difficulty__item {
    &:hover {
      cursor: pointer;
        color: var(--gray);
    }
  }
}

@media screen and (max-width: 1099px) {
  .wrapper {
    margin-top: 250px;
  }
  .title {
    font-size: 50px;
    top: -241px;
    left: -72px;
  }
  .field__item_easy,
  .rowclue__item_easy,
  .columnclue__item_easy {
    font-size: 35px;
    width: 50px;
    height: 50px;
    padding: 3px 0px;
  }
  .field__item_norm,
  .rowclue__item_norm,
  .columnclue__item_norm {
    font-size: 20px;
    width: 25px;
    height: 25px;
    padding: 0;
  }
  .field__item_hard,
  .rowclue__item_hard,
  .columnclue__item_hard {
    font-size: 15px;
    width: 16.5px;
    height: 16.5px;
    padding: 0;
  }
  .field_hard,
  .rowclue_hard,
  .columnclue_hard {
    gap: 1px;
  }
  .field {
    left: 85px;
  }
  .field_hard {
    grid-template-columns: repeat(5, 1fr) 3.25px repeat(5, 1fr) 3.25px repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr) 3.25px repeat(5, 1fr) 3.25px repeat(5, 1fr);
  }
  .rowclue_easy {
    left: -170px;
  }
  .rowclue_norm {
    left: -143px;
  }
  .rowclue_hard{
    grid-template-columns: repeat(3, 1fr) 3.25px repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr) 3.25px repeat(5, 1fr) 3.25px repeat(5, 1fr);
    left: -153px;
  }
  .columnclue_easy {
    top: -170px;
  }
  .columnclue_norm {
    top: -143px;
  }
  .columnclue_hard {
    grid-template-columns: repeat(5, 1fr) 3.25px repeat(5, 1fr) 3.25px repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr) 3.25px repeat(5, 1fr);
    top: -153px;
  }
  .vdivider {
    height: 270px;
  }
  .hdivider {
    width: 270px;
  }
  .reset-btn {
    left: -138.795px;
  }
  .reset-btn,
  .templates-btn {
    bottom: -88px;
  }
  .btn,
  .modal__msg {
    font-size: 30px;
  }
  .modal {
    max-width: 680px;
  }
  .templates {
    right: 181px;
    gap: 10px;
    bottom: -200px;
  }
  .timer {
    left: -80px;
    top: -40px;
    font-size: 35px;
  }
  .save-btn,
  .load-btn {
    bottom: -164px;
  }
  .save-btn {
    right: 40px;
  }
  .load-btn {
    left: -131px;
  }
  .theme-btn {
    top: -225px;
    left: 241px;
  }
  .score {
    top: 475px;
    left: -125px;
  }
  .difficulty-btn {
    bottom: -240px;
    right: 6px;
  }
  .difficulty {
    bottom: -372px;
    right: 42px;
  }
  .random-btn {
    bottom: 361px;
    right: 294px;
  }
}
