@import "variables";
@import "font";

h1, h2, h3, h4, h5, h6, ul, p {
	padding: 0;
	margin: 0;
}
body {
  background-color: $bodyColor;
  font-family: "Gagalin", sans-serif;
}
button {
	padding: 0;
	border:none;
	line-height: 1;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}
.btn {
  font-size: 35px;
  padding: 15px;
  border-radius: 50px;
  background-color: $btn-back;
  color: white;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0 20px;
  margin: 300px auto 0;
  box-sizing: border-box;
  //flex-wrap: wrap;
}
.title {
  position: absolute;
  top: -168px;
  left: -333px;
  font-size: 65px;
}
.field,
.rowclue,
.columnclue {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  position: absolute;
  background-color: black;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  &__item {
    width: 75px;
    height: 75px;
    padding: 10px 0px;
    box-sizing: border-box;
    background-color: chartreuse;
  }
}
.field {
  position: relative;
  left: 122.5px;
  &__item {
    &_clicked {
      background-color: black;
    }
  }
}
.rowclue {
  grid-template-columns: repeat(3, 1fr);
  left: -245px;
}
.columnclue {
  top: -245px;
}
.vdivider {
  position: absolute;
  width: 10px;
  height: 395px;
  background-color: black;
  left: -10px;
}
.hdivider {
  position: absolute;
  width: 395px;
  height: 10px;
  background-color: black;
  top: -10px;
}
.reset-btn {
  position: absolute;
  left: -182.76px;
  bottom: -107px;
}

.modal-back {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(61, 61, 61, 0.70);
}
.modal {
  background-color: white;
  border-radius: 40px;
  margin: auto;
  max-width: 800px;
  max-height: min-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  &__msg {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

// js
.overflow-body {
  overflow: hidden;
}
