@import "font";

:root {
  --body-color: #c6a664;
  --btn-back: #695d30;
  --btn-back-hover: #9e8c48;
  --back-templates: #f5deb3;
  --white: #ffffff;
  --black: #000000;
  --gray: #808080;
  --cell-clr: #7fff00;
  --cross: url(../assets/img/cross.svg);
  --sun: url(../assets/img/sun_dark.svg);
}

.body-dark-theme {
  --body-color: #574520;
  --btn-back: #dfd7b9;
  --btn-back-hover: #c7b985;
  --back-templates: #c2881a;
  --white: #000000;
  --black: #ffffff;
  --gray: #808080;
  --cell-clr: #264d00;
  --cross: url(../assets/img/cross_light.svg);
  --sun: url(../assets/img/sun.svg);
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
	padding: 0;
	margin: 0;
}
body {
  background-color: var(--body-color);
  font-family: "Gagalin", sans-serif;
}
button {
	padding: 0;
	border: none;
	line-height: 1;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}
ul {
  list-style-type: none;
}
.btn {
  font-size: 35px;
  padding: 15px;
  border-radius: 50px;
  background-color: var(--btn-back);
  color: var(--white);
  transition: background-color 0.2s;
}
.wrapper {
  display: flex;
  max-width: 1400px;
  padding: 0 20px;
  margin: 300px auto 0;
  box-sizing: border-box;
}
.title {
  position: absolute;
  top: -168px;
  left: -333px;
  font-size: 65px;
}
.field,
.rowclue,
.columnclue {
  display: grid;
  position: absolute;
  background-color: var(--black);
  color: var(--black);
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  &__item {
    box-sizing: border-box;
    background-color: var(--cell-clr);
  }
}
.field {
  position: relative;
  left: 122.5px;
  &__item {
    &_clicked {
      background-color: var(--black);
    }
    &_r-clicked {
      background-image: var(--cross);
      background-size: cover;
    }
  }
}
.vdivider {
  position: absolute;
  width: 10px;
  height: 395px;
  background-color: var(--black);
  left: -10px;
}
.hdivider {
  position: absolute;
  width: 395px;
  height: 10px;
  background-color: var(--black);
  top: -10px;
}
.reset-btn {
  position: absolute;
  left: -182.76px;
  bottom: -107px;
}

.modal-back {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(61, 61, 61, 0.70);
}
.modal {
  background-color: var(--white);
  border-radius: 40px;
  margin: auto;
  max-width: 800px;
  max-height: min-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  &__msg {
    color: var(--black);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
  }
}
.list {
  display: none;
  position: absolute;
  bottom: -220px;
  right: 205px;
  flex-direction: column;
  gap: 15px;
  font-size: 25px;
  letter-spacing: 1.5px;
  background: var(--back-templates);
  box-sizing: border-box;
  padding: 4px 10px;
  border-radius: 20px;
}
.templates,
.difficulty {
  &__item {
    transition: color 0.2s;
  }
  &-btn {
    position: absolute;
  }
}
.templates {
  bottom: -220px;
  right: 205px;
  &-btn {
    bottom: -107px;
    right: 0;
  }
}
.timer {
  position: absolute;
  left: -115px;
  top: -60px;
  font-size: 50px;
}
.save-btn {
  position: absolute;
  bottom: -190px;
  right: 40px;
}
.load-btn {
  display: none;
  position: absolute;
  bottom: -190px;
  left: -177px;
}
.theme-btn {
  position: absolute;
  top: -230px;
  left: 410px;
  width: 30px;
  height: 30px;
  background-image: var(--sun);
  background-size: cover;
  transition: transform 0.2s;
}
.score {
  position: absolute;
  top: -170px;
  left: 424px;
  width: 200px;
  text-align: left;
  &__title {
    font-size: 25px;
  }
  &__list {
    font-size: 21px;
  }
}
.difficulty {
  bottom: 189px;
  right: -154px;
  &-btn {
    bottom: 323px;
    right: -200px;
  }
}
.random-btn {
  position: absolute;
  bottom: 111px;
  right: -184px;
}
.solution-btn {
  position: absolute;
  bottom: 30px;
  right: -192px;
}

// js
.overflow-body {
  overflow: hidden;
}
.templates_show,
.difficulty_show {
  display: flex;
}
.load-btn_show {
  display: block;
}

.field_easy {
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
.field__item_easy {
  font-size: 50px;
  width: 75px;
  height: 75px;
  padding: 10px 0px;
}
.field_norm {
  grid-template-columns: repeat(5, 1fr) 0 repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr) 0 repeat(5, 1fr);
  gap: 2px;
}
.field__item_norm {
  width: 37.5px;
  height: 37.5px;
  padding: 10px 0px;
}
.field_hard {
  grid-template-columns: repeat(5, 1fr) 2px repeat(5, 1fr) 2px repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr) 2px repeat(5, 1fr) 2px repeat(5, 1fr);
  gap: 1px;
}
.field__item_hard {
  width: 25px;
  height: 25px;
  padding: 0;
}

.rowclue_easy {
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  left: -245px;
}
.rowclue__item_easy {
  font-size: 50px;
  width: 75px;
  height: 75px;
  padding: 10px 0px;
}
.rowclue_norm {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr) 0 repeat(5, 1fr);
  gap: 2px;
  left: -205px;
}
.rowclue__item_norm {
  font-size: 30px;
  width: 37.5px;
  height: 37.5px;
  padding: 0;
}
.rowclue_hard {
  grid-template-columns: repeat(3, 1fr) 2px repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr) 2px repeat(5, 1fr) 2px repeat(5, 1fr);
  gap: 1px;
  left: -220px;
}
.rowclue__item_hard {
  font-size: 20px;
  width: 25px;
  height: 25px;
  padding: 0;
}

.columnclue_easy {
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  top: -245px;
}
.columnclue__item_easy {
  font-size: 50px;
  width: 75px;
  height: 75px;
  padding: 10px 0px;
}
.columnclue_norm {
  grid-template-columns: repeat(5, 1fr) 0 repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
  top: -205px;
}
.columnclue__item_norm {
  font-size: 30px;
  width: 37.5px;
  height: 37.5px;
  padding: 0;
}
.columnclue_hard {
  grid-template-columns: repeat(5, 1fr) 2px repeat(5, 1fr) 2px repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr) 2px repeat(5, 1fr);
  gap: 1px;
  top: -220px;
}
.columnclue__item_hard {
  font-size: 20px;
  width: 25px;
  height: 25px;
  padding: 0;
}
